@page "/authorization"
@inject NavigationManager Navigation
@inject UserService UserService
@using BlazorControlWork.Data
<div class="form">
  <div class="form-group">
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Логин</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Логин" name="login" @bind="@Login">
    </div>
  </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Пароль</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" placeholder="Пароль" name="password" @bind="@Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default btn-sm" @onclick="AuthorizatioMethod">Войти</button>
    </div>
  </div>  
</div>

@if (CheckError)
{
    <div class="layer1">
        <h6>@strError</h6>
    </div>
}


@code {
    private string Login;
    private string Password;

    private bool CheckError;
    private string strError = "Неизвестная ошибка";

    private void AuthorizatioMethod()
    {
        User user = MongoExamples.Find(Login);
        if (user != null)
        {
            if (Password == user.Password)
            {
                UserService.user = user;
                UserService.authorizationCheck = true;
                Navigation.NavigateTo("/profil");
            }
            else
            {
                CheckError = true;
                strError = "Неверный пароль";
            }

        }
        else
        {
            CheckError = true;
            strError = "Пользователя с таким логином не найдено";
        }
    }
}
